.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch:hover {
  border: 2px solid black;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: 0;
  z-index: 1;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  top: 8px;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  z-index: 2;
  line-height: 100%;
}

.toggle-switch__text_F {
  color: #7e7e7e;
  left: 9px;
}

.toggle-switch__text_C {
  color: #7e7e7e;
  right: 9px;
}

.toggle-switch__text_color_white{
  color:#ffffff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
