.footer {
  display: flex;
  justify-content: space-between;
  margin: 171px 0 24px 0;
}

.footer__content {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
